h1 {
    color: white;

    /*impostiamo il font importato nella pagina html index.html*/
    font-family: 'Anton', sans-serif;
}

#product-overview{
    background: #ff1b68
}

#plans{

}

.section-title{
    color: #2ddf5c;
}