body {
    font-family: sans-serif;
}

h1 {
    color: darkseagreen;
    font-family: sans-serif;
}


code {
    color: #ff0000;
    font-family: monospace;
}

.code-different-color {
    color: green;
}

li + li {
    background: black;
    color: ghostwhite;
}

ol > li {

}